
AQI macOS/AQI macOS\.xcworkspace/xcuserdata/fernando\.mata\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

AQI macOS/AQI macOS\.xcworkspace/xcuserdata/fernando\.mata\.xcuserdatad/UserInterfaceState\.xcuserstate

AQI macOS/AQI macOS\.xcodeproj/xcuserdata/fernando\.mata\.xcuserdatad/xcschemes/xcschememanagement\.plist

AQI macOS/AQI macOS\.xcodeproj/xcuserdata/fernando\.mata\.xcuserdatad/xcschemes/
